"*":
  "atom-html-preview":
    enableMathJax: true
  "atom-material-ui":
    colors:
      abaseColor: "#4589ff"
      accentColor: "#f1eadf"
      predefinedColor: "Blue"
    tabs: {}
    ui: {}
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax-custom"
    ]
    titleBar: "custom"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "7e681d8a-da66-797f-925d-dc03e82b4364"
  "markdown-preview":
    breakOnSingleNewline: true
  "no-title-bar":
    automaticTrafficLightsPadding: true
  "one-vibrancy":
    effect: "ultra-dark"
  "tool-bar":
    position: "Left"
    visible: false
  "tool-bar-almighty": {}
  welcome:
    showOnStartup: false
